<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>csslink}}
    <title>Raj Agrahari || About me</title>
</head>
<style>
    body{
        background-image:url('https://wallpapercave.com/wp/xoinmjE.jpg') ;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .txt{
        padding: 90px;
    }
</style>
<body>
    {{>navbar}}
    <p class="txt" style="text-align:center;font-size:large;font-family:comic sans MS;color:rgb(250, 249, 245)">"MYSELF RAJ AGRAHARI,CURRENTLY I AM PURSUING MY BTECH FROM NIT SRINAGAR IN COMPUTER SCIENCE ENGINEERING.I AM A ANDROID DEVELOPMENT ENTHUSIAST AND ALSO ALWAYS TRY  TO INVOLVE MYSELF IN COMPETITIVE PROGRAMMING TO ENHANCE MY PROBLEM SOLVING SKILLS.SO, THANK YOU FOR VISITING THE PAGE."</p>
     <p style="text-align:center;font-family:mistral;color:honeydew">CREATED BY</p>
    <h1 style="text-align:center;font-family:mistral;color:honeydew">-RAJ AGRAHARI</h1>
    {{>footer}}
</body>
</html>
