<div class="footer">
            <footer>
                <p>Designed by<i class="far fa-envelope" id="fab"> : rajagri1682003@gmail.com</i></p>
               <p>RAJ AGRAHARI<i class="fab fa-instagram" id="fab"> : __raj_agrahari__</i></p>
              <p>&copy;2021 All rights are reserved<i class="fab fa-whatsapp" id="fab"> : +919799050147</i></p>
            </footer>
        </div>
