<div class="container">
        <nav class="navbar">
              <li id="name">RAJ AGRAHARI</li>
              <li id="home"><a href="/">Home</a></li>
              <li><a href="/aboutus">About me</a></li>
        </nav>